*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.app{
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.input-element{
    font-size: 23px;
    border: none; 
}
.input-btn{
    font-size: 25px;
    background-color: rgb(231, 73, 73);
    border: none;
    color: white;
    border-radius: 30%;
}

.todo-list{
    text-align: center;
    font-size: 25px;
}

